.featuredProduct {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-block: 96px;
}

@media (max-width: 1023px) {
  .featuredProduct {
    padding-block: 60px;
  }
}

@media (max-width: 639px) {
  .featuredProduct {
    padding-block-start: 36px;
    padding-block-end: 32px;
  }
}

.featuredProduct__title {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-wrapper {
  position: relative;
}

.swiper__slide {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.swiper__slide__product {
  aspect-ratio: 1;
  position: relative;
  display: grid;
  place-items: center;
  background: var(--color-primary-gray);
  border-radius: 6px;
  overflow: hidden;
}

.swiper__slide__text {
  padding-inline: 12px;
}

.swiper__product > img {
  width: 100%;
}

@media (max-width: 639px) {
  .swiper__product > img {
    width: 90%;
  }
}

.swiper__product--favorite {
  position: absolute;
}

.featuredProduct__swiper {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 64px;
}

@media (max-width: 639px) {
  .featuredProduct__swiper {
    gap: 32px;
  }
}

.swiper__array--prev,
.swiper__array--next {
  position: absolute;
  z-index: 5;
  aspect-ratio: 1;
  width: 72px;
}

@media (max-width: 639px) {
  .swiper__array--prev,
  .swiper__array--next {
    width: 64px;
  }
}

.swiper__array--prev img,
.swiper__array--next img {
  width: 100%;
}

.swiper__array--prev {
  inset: 216px auto 300px 32px;
  transform: rotate(180deg);
}

@media (max-width: 639px) {
  .swiper__array--prev {
    inset: 40% auto auto 0;
  }
}

.swiper__array--next {
  inset: 216px 32px 300px auto;
}

@media (max-width: 639px) {
  .swiper__array--next {
    inset: 40% 0 auto auto;
  }
}

.swiper__array--prev.swiper__array--hidden,
.swiper__array--next.swiper__array--hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.swiper__scrollbar--container {
  height: 2px;
  position: relative;
}

.swiper__scrollbar {
  height: 1px;
  background-color: var(--color-primary-gray);
}

.swiper__scrollbar--drag {
  background-color: var(--color-primary-black);
  height: 1px;
}
