.header__top {
  background: var(--color-primary-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--header-margin);
  padding-block: var(--header-padding);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 7;
}

.header__top * {
  display: flex;
  flex-direction: row;
}

.header__logo {
  gap: 32px;
}

@media (width < 1000px) {
  .header__logo > p[data-bodyText] {
    display: none;
  }
}

.header__logo__brandContainer {
  gap: 12px;
}

.header__logo__icon {
  aspect-ratio: 1;
  background: url("/icons/FORMAIconDefault.svg");
  height: 100%;
}

.header__logo__brandContainer:hover > .header__logo__icon {
  background: url("/icons/FORMAIconFill.svg");
}

@media (width < 700px) {
  .header__nav {
    display: none;
  }
}

.header__nav__list {
  gap: 42px;
}

.header__nav__page > a {
  position: relative;
}

.header__nav__page > a::after {
  background: var(--color-primary-black);
  content: "";
  inset: auto auto 0 0;
  height: 1px;
  position: absolute;
  scale: 0 1;
  transition: 0.1617s ease-in-out;
  width: 100%;
}

.header__nav__page:hover > a::after {
  scale: 1 1;
}

.header__developer > a {
  gap: 12px;
}

@media (width < 1000px) {
  .header__developer p {
    display: none;
  }
}

@media (width < 700px) {
  .header__developer {
    display: none;
  }
}

.header__burgerMenu {
  display: none;
}

@media (width < 700px) {
  .header__burgerMenu {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 12px;
  }
}

.topBanner__section {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 42px;
  height: calc(100dvh - var(--header-padding) * 2 - 24px - var(--header-margin));
}

@media (width < 1000px) {
  .topBanner__section__logo {
    width: 100%;
  }
}

.topBanner__image {
  background: url("/banner/bannerPhoto.webp") center;
  background-size: cover;
  border-radius: 8px;
}

.burgerMenu {
  background: var(--color-primary-black-popUp);
  position: fixed;
  inset: 0 0 auto auto;
  height: 100dvh;
  transition: 0.314s opacity, events ease-in-out;
  width: 100dvw;
  z-index: 10;
}

.burgerMenu--closed {
  opacity: 0;
  pointer-events: none;
}

.menu {
  background: var(--color-primary-white);
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 80px;
  inset: 0 0 auto auto;
  height: 100dvh;
  padding-inline: 32px 16px;
  transition: 0.314s transform ease-in-out;
  width: 290px;
}

.burgerMenu--closed > .menu {
  transform: translateX(100%);
}

.menu__topBar {
  display: flex;
  justify-content: space-between;
  padding-block: 24px;
  width: 100%;
}

.menu__topBar img {
  height: 24px;
  width: 24px;
}

.menu__nav__list {
  display: grid;
  gap: 24px;
  grid-template-rows: repeat(3, auto);
}
