.header {
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.header__top {
  display: flex;
  flex-direction: row;
  padding-block: 32px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 80px;
}

.header__top * {
  display: flex;
  flex-direction: row;
}

.header__logo {
  gap: 32px;
}

@media (width < 1000px) {
  .header__logo > p[data-bodyText] {
    display: none;
  }
}

.header__logo__brandContainer {
  gap: 12px;
}

.header__logo__icon {
  aspect-ratio: 1;
  height: 100%;
  background: url("/icons/FORMAIconDefault.svg");
}

.header__logo__brandContainer:hover > .header__logo__icon {
  background: url("/icons/FORMAIconFill.svg");
}

@media (width < 700px) {
  .header__nav {
    display: none;
  }
}

.header__nav ul {
  gap: 42px;
}

.header__developer {
  gap: 12px;
}

@media (width < 1000px) {
  .header__developer p {
    display: none;
  }
}

@media (width < 700px) {
  .header__developer {
    display: none;
  }
}

.header__burgerMenu {
  display: none;
}

@media (width < 700px) {
  .header__burgerMenu {
    display: inherit;
    gap: 12px;
  }
}

.header__banner {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 42px;
}

@media (width < 1000px) {
  .header__banner__logo {
    width: 100%;
  }
}

.header__banner__mainImage {
  background: url("/banner/bannerPhoto.webp") center;
  background-size: cover;
  border-radius: 8px;
}
