@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap");
@import "./header.css";
@import "./featuredProduct.css";
@import "./productListing.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary-black: #1d1d1d;
  --color-primary-gray: #eaeae8;
  --color-primary-white: #ffffff;

  --color-labels-bestseller: #d9d6b0;
  --color-labels-limited: #d9d6b0;
}

html {
  font-family: "Inter", Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-rows: repeat(3, auto);
  min-height: 100dvh;
  padding-inline: 42px;
}

@media (max-width: 639px) {
  body {
    padding-inline: 16px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

h1,
h2 {
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  font-weight: 700;
  color: var(--color-primary-black);
}

@media (max-width: 639px) {
  h1,
  h2 {
    font-size: 32px;
  }
}

[data-bodyText] {
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
}

[data-bodyLarge] {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0;
  font-weight: 600;
}

@media (max-width: 639px) {
  [data-bodyLarge] {
    font-size: 18px;
  }
}
