.zoomedImagePopUp {
  --paddingSize: 32px;

  background: var(--color-primary-black-popUp);
  display: grid;
  height: 100dvh;
  inset: 0 0 auto auto;
  place-items: center;
  position: fixed;
  transition: 0.314s opacity ease-in-out;
  width: 100dvw;
  z-index: 100;
}

.zoomedImagePopUp--closed {
  opacity: 0;
  pointer-events: none;
}

@media (width < 928px) {
  .zoomedImagePopUp {
    --paddingSize: 16px;
  }
}

.popUpContainer {
  background: var(--color-primary-white);
  border-radius: 6px;
  display: flex;
  height: 640px;
  padding: var(--paddingSize);
  place-items: center;
  position: relative;
  width: 840px;
}

@media (width < 928px) {
  .popUpContainer {
    height: 420px;
    width: 312px;
  }
}

.popUpContainer__image {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

@media (width < 928px) {
  .popUpContainer__image {
    object-fit: cover;
  }
}

.popUpContainer__idText,
.popUpContainer__closeButton {
  position: absolute;
}

.popUpContainer__idText {
  inset: var(--paddingSize) auto auto var(--paddingSize);
}

.popUpContainer__closeButton {
  inset: var(--paddingSize) var(--paddingSize) auto auto;
}
